<!DOCTYPE html>
<html>
<head>
  <title>Angad Singh's Link Shortener</title>
  <style type="text/css">
    input[type="text"] {
      margin-bottom: 10px;
    }
    form {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <center>
    <h1>Angad Singh's Link Shortener</h1>
    <form>
      <input type="text" name="short" placeholder="Short URL"><br>
      <input type="text" name="long" placeholder="Long URL"><br>
      <button type="Submit">Shorten</button>
    </form>
    <table>
      <% for(let shortlink of shortlinks) { %>
        <tr>
          <td><%= shortlink.short %></td>
          <td><%= shortlink.long %></td>
          <td><a href="<%= shortlink.delete_url %>">delete</a></td>
        </tr>
      <% } %>
    </table>
  <center>
</body>
</html>