<!DOCTYPE html>
<html>
<head>
  <title>Angad Singh's Link Shortener</title>
  <style type="text/css">
    * {
      font-family: system-ui;
    }
    input[type="text"] {
      margin-bottom: 10px;
    }
    form {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <h1>Angad Singh's Link Shortener</h1>
  <form action="/create" method="post">
    <input type="text" name="short" placeholder="Short URL"><br>
    <input type="text" name="long" placeholder="Long URL"><br>
    <button type="submit">Shorten</button>
  </form>
  <table>
    <% for(let shortlink of shortlinks) { %>
      <tr>
        <td><%= shortlink.short %></td>
        <td><%= shortlink.long %></td>
        <td><a href="delete/<%= shortlink.short %>">delete</a></td>
      </tr>
    <% } %>
  </table>
</body>
</html>